body{
    width: 100%!important;
    height: 100%!important;
    background-color: #af0404!important;
    

    
}
.brand-logo img {
    width: 152px;
    height: 131px;
    /* top: 30px; */
    /* float: left; */
    /* margin-bottom: 30px; */
    /* display: block; */
    position: relative;
    top: -17px;

}

nav{
    background-color: #252525!important;
    height: 95px!important;
}

.titulo{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 20px 0px;
}
.painel{
    background-color: #FFFFFF;
    border-color: white;
    border-radius: 12px;
    padding: 0!important;

}
.tituloinput{
    display: block;
    padding-left: 16px;
    font-weight: 600;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.inputproduto{
    border: 1px solid grey!important;
    border-radius: 5px!important;;
    margin-top: 0px!important;
    font-weight: 600;
    width: 100%!important;
    text-align: center;
    
}
.input-field{
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.tituloinput2{
    display: block;
    padding-left: 16px;
    font-weight: 600;
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
}
select{
    border: 1px solid grey!important;
    border-radius: 5px!important;
    padding-left: 10px!important;
    margin-top: 0px!important;
    font-weight: 600!important;
    font-size: 16px!important;
    display: block!important;
}
.tituloinput3{
    display: block;
    padding-left: 16px;
    font-weight: 600;
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
}
.button-center{
    text-align: center;
}
.button{
    margin-top: 15px;
    background-color: #af0404!important;
}
.botaoVoltar{
    margin-left: 20px;
    margin-top: 15px;
    background-color: #af0404!important;
}
.titulo1{
    color: black;
    font-size: 23px;
    margin-top: 20px;
    margin: 0;
    margin-bottom: 10px!important;
}
.input{
    border: 1px solid grey!important;
    width: 100%!important;
    border-radius: 0px!important;
    text-align: center;
    margin-top: 0px!important;
    font-weight: 600;
}

.titulo3{
    color: black;
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding-top: 15px;
}