body{
    width: 100%!important;
    height: 100%!important;
    background-color: #af0404!important;

    
}
.brand-logo img {
    width: 152px;
    height: 131px;
    /* top: 30px; */
    /* float: left; */
    /* margin-bottom: 30px; */
    /* display: block; */
    position: relative;
    top: -17px;

}

nav{
    background-color: #252525!important;
    height: 95px!important;
}

.datepicker-date-display{
    background-color: #af0404!important;
}
.select-month input{
    width: 75px!important;;
}
.datepicker-cancel{
    color: #af0404!important;
}
.datepicker-done{
    color: #af0404!important;
}
.titulo{
    color: white;
    font-size: 20px;
    text-align: center;
    font: bold 23pt Arial;
    margin-top: 20px;
}

.painel{
    height: auto;
    background-color: white;
    border-radius: 10px;
    width: 100%;
 
}
.titulo2{
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding-top: 15px;
}
.input-field{
    padding-left: 0!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.inputmesa{
    border: 1px solid grey!important;
    border-radius: 5px!important;;
    margin-top: 0px!important;
    font-weight: 600;
    width: 100%!important;
    text-align: center;
}
.button-center{
    text-align: center;
}

.button{
    background-color: #af0404!important;
   
}
.botaoVoltar{
    margin-left: 15px;
    background-color: #af0404!important;

}
